body {
    background-color: var(--color-gray-2);
}

.page-container {
    max-width: 1200px;
    margin: 80px auto 32px auto;
    width: 100%;

    background-color: var(--color-white);
    border-radius: 64px;

    padding: 101px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 64px;

    .bottom-info {
        display: none;
    }
}

.page-top {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .top-title {
        display: flex;
        flex-direction: row;
        gap: 20px;

        align-items: center;

        .logo {

            img {
                width: 57px;
                height: 64px;
            }
        }

        .name {
            color: var(--color-black);
            font-weight: 500;
        }
    }

    .top-description {

    }
}

.page-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;

    .btn {
        padding: 18px 128px;
        color: var(--color-white);

        border-radius: 32px;

        width: fit-content;

        background-color: var(--color-black);

        transition: all .3s ease-in-out;
    }

    .btn:hover {
        cursor: pointer;
        background-color: var(--color-black-hover);
    }

    .btn:active {
        background-color: var(--color-black-pressed);
    }
}

.bottom-info {
    max-width: 1200px;
    margin: 0 auto 128px auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        padding: 16px 32px;

        border-radius: 32px;

        transition: all .3s ease-in-out;

        .img {
            height: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .text {
            a {
                text-decoration: none;
                color: var(--color-black);
            }
        }
    }

    .item:hover, .item:active {
        cursor: pointer;
        background-color: var(--color-gray-1);
    }
}

.item {
    position: relative;

    .block-title {
        color: var(--color-black);
        width: 100%;

        padding-bottom: 32px;

        border-bottom: 2px solid var(--color-gray-1);

        border-radius: 2px;
    }

    .block-content {
        margin-top: 32px;

        display: flex;
        flex-direction: column;
        gap: 32px;

        .block-item {
            display: flex;
            flex-direction: row;
            gap: 32px;
            justify-content: space-between;


            .block-inputs {
                display: flex;
                flex-direction: column;
                gap: 16px;


                .radio {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;

                    .radiobutton-label {
                        padding: 12px 16px;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;

                        border-radius: 16px;
                        background-color: var(--color-gray-1);

                        transition: all .3s ease-in-out;

                        .radiobutton-input {
                            box-sizing: border-box;

                            width: 24px;
                            height: 24px;

                            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08) inset;
                            background-color: var(--color-gray-2);
                            border-radius: 16px;

                            appearance: none;
                            position: relative;

                            transition: background-color .3s ease-in-out;
                        }

                        .radiobutton-input:checked {
                            background-color: var(--color-black);
                            background-image: url("./assets/icon.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 12px 10px;

                            transition: background-color .1s ease-in-out;
                        }
                    }

                    .radiobutton-label:hover, .radiobutton-label:active {
                        cursor: pointer;
                        background-color: var(--color-gray-2);

                        .radiobutton-input {
                            cursor: pointer;
                            background-color: var(--color-gray-3);
                        }

                        .radiobutton-input:checked {
                            cursor: pointer;
                            background-color: var(--color-black);
                        }
                    }

                }

                .textarea {
                    display: flex;
                    flex-direction: column;

                    gap: 16px;

                    .textarea-desc {
                        color: var(--color-gray-input-hint);
                    }

                    .custom-textarea {
                        resize: none;
                        box-sizing: border-box;

                        border-radius: 16px;
                        padding: 12px 16px;

                        background-color: var(--color-gray-1);
                        color: var(--color-black);

                        border: 2px solid var(--color-gray-1);

                        transition: all .3s ease-in-out;
                        outline: none;

                        width: 594px;
                        height: 129px;
                    }

                    .custom-textarea::placeholder {
                        color: var(--color-gray-input-hint);
                    }

                    .custom-textarea:hover {
                        cursor: pointer;
                        border-color: var(--color-gray-3);
                    }

                    .custom-textarea:active, .custom-textarea:focus {
                        cursor: pointer;
                        border-color: var(--color-black);
                    }
                }

                .task-title {
                    box-sizing: border-box;
                    padding: 12px 16px;
                    color: var(--color-black);
                    line-height: 23px;

                    background-color: var(--color-gray-1);
                    border-radius: 16px;

                    width: 594px;
                }

                .custom-input {
                    box-sizing: border-box;
                    padding: 12px 16px;
                    color: var(--color-black);
                    line-height: 23px;

                    background-color: var(--color-gray-1);
                    border: 2px solid var(--color-gray-1);
                    border-radius: 16px;
                    outline: none;

                    width: 594px;

                    transition: all .3s ease-in-out;
                }

                .custom-input::placeholder {
                    color: var(--color-gray-input-hint);
                }

                .custom-input:hover {
                    border: 2px solid var(--color-gray-3);
                }

                .custom-input:active, .custom-input:focus {
                    border: 2px solid var(--color-black);
                }
            }
        }
    }
}

.modal-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    /*backdrop-filter: blur(20px);*/
    z-index: 9;
    width: 100%;
    min-height: 100vh;

    .modal {
        z-index: 100;

        position: relative;
        background-color: #fff;
        box-sizing: border-box;

        border-radius: 48px;
        overflow: hidden;

        width: 796px;
        height: 380px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 32px;

        .title {
            text-align: center;
        }

        .button{
            padding: 18px 155px;
            border-radius: 32px;

            color: var(--color-white);

            background-color: var(--color-black);

            transition: all .3s ease-in-out;
        }

        .button:hover{
            cursor: pointer;
            background-color: var(--color-black-hover);
        }

        .button:active{
            background-color: var(--color-black-pressed);
        }

    }
}

@media (max-width: 1199px) {

    .bottom-info {
        display: none;
    }

    .page-container {
        max-width: none;
        margin: 80px;
        padding: 64px 68px;
        width: auto;

        gap: 48px;

        .bottom-info {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }


    .regular_24 {
        font-size: 18px;
    }

    .item {
        flex-direction: column;
        gap: 16px;

        .block-title {
            margin-bottom: 24px;
            padding-bottom: 24px;
        }

        .block-content {
            flex-direction: column;
            gap: 48px;

            .block-item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .block-inputs {
                    gap: 8px;

                    .radio {
                        gap: 8px;
                        flex-direction: column;
                    }

                    .textarea {
                        .custom-textarea {
                            width: 100%;
                        }
                    }

                    .task-title, .custom-input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .page-bottom {
        margin-top: 0;
        padding-top: 48px;

        border-top: 2px solid var(--color-gray-1);
        border-radius: 2px;

        .btn {
            text-align: center;
            width: 100%;
            padding: 18px 0;
        }
    }

    .modal-wrapper {
        .modal{
            width: 664px;
            height: 373px;
        }
    }
}

@media (max-width: 960px) {
    .page-container {
        margin: 32px;
        padding: 60px;
    }

    .modal-wrapper {
        .modal{
            width: 584px;
            height: 373px;
        }
    }
}

@media (max-width: 768px) {
    .page-container {
        border-radius: 0;
        margin: 0;
        padding: 32px;
    }

    .regular_36 {
        font-size: 24px;
    }

    .modal-wrapper {
        .modal{
            margin: 0 32px;
            width: 100%;
            height: 213px;
        }
    }

    .page-bottom{
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 480px) {
    .modal-wrapper {
        .modal{
            padding: 48px;
            margin: 0 16px;
            height: auto;

            gap: 32px;

            .button{
                padding: 18px 0;
                width: 100%;
                text-align: center;
                height: auto;
            }
        }
    }
}